/*****************************
Diego Villa García - UO277188
Descripción de los estilos
******************************/

/* Especificidad 001 */
body {
    display: flex;
    color: black;
    background-color: white;
    font-size: 1.1em;
    font-family: Helvetica, Verdana, sans-serif;
}

/* Especificidad 001 */
input {
    border: 0.1em solid #111;
    border-radius: 0.5em;
    font-size: 1.1em;
    cursor: pointer;
    max-height: 3em;
    margin: 1em
}

/* Especificidades 001, 001
    Heredan la propiedad color del elemento body */
h1,
h2 {
    background-color: #ffcc85;
    border-radius: 0.2em;
    padding: 0.2em;
}

/* Especificidad 001 */
section {
    min-height: 60vh;
    min-width: 90vw;
}

/* Especificidad 001 */
canvas {
    border: 1px solid black;
}

/* Especificidad 011 */
input:active {
    border: 0.1em solid red;
}

/* Especificidad 011
    Hereda la propiedad color del elemento body */
input[value="Negro"] {
    background-color: rgb(174, 174, 174);
}

/* Especificidad 011
    Hereda la propiedad color del elemento body */
input[value="Rojo"] {
    background-color: rgb(255, 192, 192);
}

/* Especificidad 011
    Hereda la propiedad color del elemento body */
input[value="Azul"] {
    background-color: rgb(197, 200, 255);
}

/* Especificidad 011
    Hereda la propiedad color del elemento body */
input[value="Verde"] {
    background-color: rgb(164, 255, 171);
}